
/HS-HR_Error/ghost/master/profile
HS-HR_Error/Error goals.dic
HS-HR_Error/ghost/master/ssp_shiori_log.txt
HS-HR_Error/ghost/master/yaya_variable.cfg
/HS-HR_Error/shell/Biblically Accurate/profile
HS-HR_Error/shell/Biblically Accurate/profile/shell.dat
/HS-HR_Error/shell/master/profile
HS-HR_Error/shell/master/profile/shell.dat.bak
HS-HR_Error/shell/Biblically Accurate/profile/shell.dat.bak
/HS-HR_Error/shell/Biblically Accurate/profile
HS-HR_Error/shell/Biblically Accurate/profile/shell.dat.bak
